<h1>Gérer mes réservations de parking</h1>

<% @travels.each do |travel| %>

    <div class="well">
      <div class="row-fluid">

        <div class="span6">
          <p>  <%= link_to travel.airPortName + ' - ' + travel.departure.to_s + ' -> ' + travel.arrival.to_s, [@user, travel] %></p>

          <% if @user == current_user %>
              <%= link_to 'Annuler cette réservation', [@user, travel], method: :delete, data: {confirm: 'Are you sure?'} %>
              |
              <%= link_to 'Modifier cette réservation', edit_user_travel_path(@user, travel) %>
          <% end %>
        </div>

        <div class="span6">
          <% if travel.car %>
              <% if travel.car.filepicker1_url %>
                  <%= filepicker_image_tag travel.car.filepicker1_url, width: 100, height: 100, fit: 'clip', class: 'pull-left' %>
              <% end %>
              <p> <%= travel.car.try { |car| car.brand + ' ' + car.model } %> </p>


          <% end %>
        </div>

      </div>
    </div>


<% end %>

<br/>

<% if @user == current_user %>
    <%= link_to 'New Travel', new_user_travel_path(@user) %>
<% end %>
