<% if @user == current_user %>
    <%= link_to t(:register_travel), new_user_travel_path(@user), :class => "base pull-right" %>
<% end %>

<h1><%= t(".title") %> </h1>

<% if @travels.empty? %>
    <div class="alert">
        <p><%= t(".no_travels") %></p>
    </div>
<% else %>

    <h3><%= t("helpers.label.travel.status.pending") %></h3>
    <div class="alert alert-info">
        <p><%= t ".waiting_for_validation" %></p>
    </div>
    <% @travels.select { |travel| travel.status == :pending }.each do |travel| %>
        <%= render "travels/item", :travel => travel %>
    <% end %>

    <h3><%= t("helpers.label.travel.status.active") %></h3>
    <% @travels.select { |travel| travel.status == :active || travel.status == :rent }.each do |travel| %>
        <%= render "travels/item", :travel => travel %>
    <% end %>

    <br/>

<% end %>



