<div class="row-fluid">

  <div class="span8">
    <h1><%= [@travel.car.year, @travel.car.brand, @travel.car.model].join(' - ') %>

      <% if @user == current_user %>
          <%= link_to edit_user_travel_path(@user, @travel), :class => "btn btn-edit on-hover pull-right" do %>
            <%= t(:edit) %> <i class="icon-arrow-down"></i>
          <% end %>
          <%= link_to user_travels_path(@user), class: "btn btn-primary btn-back pull-right" do %>
            <i class="icon-arrow-left"></i><%= t ".back_to_list" %>
          <% end %>
      <% end %>
    </h1>

    <%= render "cars/carroussel", :car => @travel.car %>

  </div>

  <div class="span4">

    <div>
      <h2><%= t(:rent_this_car) %></h2>

      <p>
        <%= t(".we_summarize") %>
      </p>

      <h3><%= t(".where") %></h3>

      <p>
        <%= @travel.airPort.name %>
      </p>


      <% unless @rent.nil? %>

          <h3><%= t(".when") %></h3>

          <p>
            <%= t :interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate) %>
          </p>

          <% if @travel.car.category %>
              <h3><%= t(".how_many") %></h3>

              <p><%= [t(:x_days, :count => number_of_days(@rent)), t(:byDay, :price => number_to_currency(@travel.car.category.price_in_euros))].join(", ") %>
              </p>

              <% unless @travel.commercial_text.blank? %>
                  <div class="block-mktn">

                    <!--h3> titre (h3) de la promo !!!</h3-->

                    <%= @travel.commercial_text.html_safe %>


                    <!--a class="btn btn-large btn-block" href="#"><div class="nav-hover"></div>un CTA dans la promo</a-->
                  </div>
              <% end %>


              <h2><%= t(:total, :total => number_to_currency(price_for_rent(@rent, :price => @travel.car.category.price))) %> </h2>

              <p>
                <%= link_to t(".yes_i_do"), new_rent_path(:rent => params[:rent].merge(:travel_id => @travel.id)), :class => "btn btn-large on-hover btn-block" %>
              </p>
          <% end %>
      <% else %>
          <p>
            <%= t :interval_datetime, :startDate => l(@travel.departure), :endDate => l(@travel.arrival) %>
          </p>
      <% end %>


    </div>

  </div>


</div>


<h2><%= t(".details") %></h2>

<%= render 'cars/details', :car => @travel.car %>







