<div class="row-fluid">

  <div class="span8">
    <h1><%= [@travel.car.year, @travel.car.brand, @travel.car.model].join(' - ') %></h1>

    <%= render "cars/carroussel", :car => @travel.car %>

  </div>

  <div class="span4">

    <div>
      <br/><br/><br/>
      <p>
        <%= t(".we_summarize") %>
      </p>

      <h3><%= t(".where") %></h3>

      <p>
        <%= @travel.airPort.name %>
      </p>

      <h3><%= t(".when") %></h3>

      <% unless @rent.nil? %>

          <p>
            <%= t :interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate) %>
          </p>

          <% if @travel.car.category %>
              <h3><%= t(".how_many") %></h3>

              <p><%= [t(:x_days, :count => number_of_days(@rent)), t(:byDay, :price => number_to_currency(@travel.car.category.price_in_euros * reduc(@rent, @travel.car.category)))].join(", ") %>
              </p>

              <% unless @travel.commercial_text.blank? %>
                  <div class="block-mktn">

                    <%= @travel.commercial_text.html_safe %>
                  </div>
              <% end %>


              <h2><%= t(:total, :total => number_to_currency(price_for_rent(@rent, :price => @travel.car.category.price) * reduc(@rent, @travel.car.category))) %> </h2>

              <p>
                <%= link_to t(".yes_i_do"), new_rent_path(:rent => params[:rent].merge(:travel_id => @travel.id)), :class => "btn btn-large on-hover btn-block" %>
                
              </p>
          <% end %>
      <% else %>
          <p>
            <%= t :interval_datetime, :startDate => l(@travel.departure), :endDate => l(@travel.arrival) %>
          </p>
      <% end %>

      <br/>
      <% if @user == current_user %>
          <%= link_to "Valider", user_travels_path(@user), class: "btn btn-primary btn-large btn-block" %>
      <% end %>
      


    </div>

  </div>


</div>


<h2><%= t(".details") %></h2>

<%= render 'cars/details', :car => @travel.car %>


<script type="text/javascript">
var google_conversion_id = 974833807;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "d4joCJmN5AcQj5Hr0AM";
var google_conversion_value = 0;
var google_remarketing_only = false;
</script>
<script type="text/javascript"  
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""  
src="//www.googleadservices.com/pagead/conversion/974833807/?value=0&amp;label=d4joCJmN5AcQj5Hr0AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
