<h2><%= [@travel.car.year, @travel.car.brand, @travel.car.model].join(' - ') %></h2>


<% if can? :update, @travel %>
    <%= link_to t(:edit), edit_user_travel_path(@user, @travel) %> |
    <%= link_to t(:back), user_travels_path(@user) %>
<% end %>



<div class="row-fluid">

  <div class="span8">
    <%= render "cars/carroussel", :car => @travel.car %>
  </div>

  <div class="span4">

    <div class="well">
      <h3><%= t(:rent_this_car) %></h3>

      <p>
        <%= [@travel.car.year, @travel.car.brand, @travel.car.model].join(' - ') %>
      </p>

      <p>
        <b><%= t(:airPort, :scope => [:helpers, :label, :travel]) %>:</b>
        <%= @travel.airPort.name %>
      </p>


      <% unless @rent.nil? %>
          <p>
            <%= t :interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate) %>
          </p>

          <% if @travel.car.category %>

              <p><%= [t(:x_days, :count => number_of_days(@rent)), t(:byDay, :price => number_to_currency(@travel.car.category.price_in_euros))].join(", ") %>

              <br/><%= t(:total, :total => number_to_currency(price_for_rent(@rent, :price => @travel.car.category.price ))) %>
              </p>

              <p>
                <%= link_to t(:rent_this_car), new_rent_path(:rent => params[:rent].merge(:travel_id => @travel.id)), :class => "btn btn-primary" %>
              </p>
          <% end %>
      <% else %>
          <p>
            <%= t :interval_datetime, :startDate => l(@travel.departure), :endDate => l(@travel.arrival) %>
          </p>
      <% end %>


    </div>

  </div>


</div>


<h3><%= t(".details") %></h3>

<%= render 'cars/details', :car => @travel.car %>







