<h2><%= @travel.car.year.to_s + ' - ' + @travel.car.brand + " " + @travel.car.model %></h2>


<% if can? :update, @travel %>
    <%= link_to t(:edit), edit_user_travel_path(@user, @travel) %> |
    <%= link_to t(:back), user_travels_path(@user) %>
<% end %>



<div class="row-fluid">

  <div class="span8">
    <% if @travel.car %>
        <% images_url = [@travel.car.filepicker1_url, @travel.car.filepicker2_url, @travel.car.filepicker3_url].select { |url| !url.nil? && !url.empty? } %>
        <div class="well" style="text-align: center">
          <% if !images_url.empty? %>
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">

                  <% images_url.each_with_index do |item, index| %>
                      <li data-target="#myCarousel" data-slide-to="<%= index.to_s %>"
                          class="<%= if index == 0 then
                                       "active"
                                     end %>">

                      </li>
                  <% end %>

                </ol>
                <div class="carousel-inner">
                  <% images_url.each_with_index do |item, index| %>
                      <div class="item <%= if index == 0 then
                                             "active"
                                           end %>">

                        <%= filepicker_image_tag item, height: 525, fit: 'max' %>
                        <div class="carousel-caption">
                          <h4><%= @travel.car.year.to_s + ' - ' + @travel.car.brand + " " + @travel.car.model %></h4>

                          <p><%= @travel.car.desc %></p>
                        </div>
                      </div>
                  <% end %>
                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
          <% else %>
              <i class="icon-camera-retro" style="line-height: 300px; font-size: 120px; color: graytext"></i>
          <% end %>
        </div>

    <% end %>

  </div>

  <div class="span4">

    <div class="well">
      <h3><%= t(:rent_this_car) %></h3>

      <p>
        <%= @travel.car.year.to_s + ' - ' + @travel.car.brand + " " + @travel.car.model %>
      </p>
      <% if @rent %>
          <p>
            <%= t :interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate) %>
          </p>

          <% if @travel.car.category %>
              <% nbjours = ((@rent.endDate - @rent.startDate)/1.day).round %>
              <p>
                <%= distance_of_time_in_words(@rent.endDate, @rent.startDate) %>,
                <%= number_to_currency(@travel.car.category.price) %> <%= t(:byDay) %>
                <br/>
                <%= t(:total) %>: <%= number_to_currency(@travel.car.category.price*nbjours) %>
              </p>

              <p>
                <%= link_to t(:rent_this_car), new_rent_path(:rent => params[:rent].merge(:travel_id => @travel.id)), :class => "btn btn-primary" %>
              </p>
          <% end %>
      <% else %>
          <p>
            <%= t :interval_datetime, :startDate => l(@travel.departure), :endDate => l(@travel.arrival) %>
          </p>
      <% end %>


    </div>

  </div>


</div>

<h3><%= t(".details") %></h3>

<div class="well">
  <div class="row-fluid">
    <div class="span4">

      <p>
        <b><%= t(:airPort, :scope => [:helpers, :label, :travel]) %>:</b>
        <%= @travel.airPort.name %>
      </p>

      <p>
        <b><%= t(:nbSeats, :scope => [:helpers, :label, :car]) %>:</b>
        <%= @travel.car.nbSeats %>
      </p>

      <p>
        <b><%= t(:km, :scope => [:helpers, :label, :car]) %>: :</b>
        <%= @travel.car.km %>
      </p>

      <p>
        <b><%= t(:fuel, :scope => [:helpers, :label, :car]) %>:</b>
        <%= @travel.car.fuel %>
      </p>

    </div>

    <div class="span4">
      <p>
        <b><%= t(:isSmoker, :scope => [:helpers, :label, :car]) %></b>
        <%= t(@travel.car.isSmoker.to_s) %>
      </p>

      <p>
        <b><%= t(:acceptedPets, :scope => [:helpers, :label, :car]) %></b>
        <%= t(@travel.car.acceptedPets.to_s) %>
      </p>

      <p>
        <b><%= t(:hasGps, :scope => [:helpers, :label, :car]) %></b>
        <%= t(@travel.car.hasGps.to_s) %>
      </p>

      <p>
        <b><%= t(:hasAirConditioning, :scope => [:helpers, :label, :car]) %></b>
        <%= t(@travel.car.hasAirConditioning.to_s) %>
      </p>

      <p>
        <b><%= t(:hasCarRadio, :scope => [:helpers, :label, :car]) %></b>
        <%= t(@travel.car.hasCarRadio.to_s) %>
      </p>

      <p>
        <b><%= t(:hasChildSeat, :scope => [:helpers, :label, :car]) %></b>
        <%= t(@travel.car.hasChildSeat.to_s) %>
      </p>

    </div>

    <div class="span4">
      <p>
        <%= @travel.car.desc %>
      </p>

    </div>

  </div>

</div>







