<p id="notice"><%= notice %></p>

<p>
  <b>Airportname:</b>
  <%= @travel.airPortName %>
</p>

<p>
  <b>Departure:</b>
  <%= @travel.departure %>
</p>

<p>
  <b>Arrival:</b>
  <%= @travel.arrival %>
</p>


<p>
  <b>Car Brand:</b>
  <%= @travel.car.brand %>
</p>

<p>
  <b>Car Model:</b>
  <%= @travel.car.model %>
</p>


<%= link_to 'Edit', edit_user_travel_path(@user,@travel) %> |
<%= link_to 'Back', user_travels_path(@user) %>
