<h2><%= @travel.car.year.to_s + ' - ' + @travel.car.brand + " " + @travel.car.model %></h2>


<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_travel_path(@user, @travel) %> |
    <%= link_to 'Back', user_travels_path(@user) %>
<% end %>



<div class="row-fluid">

  <div class="span8">
    <% if @travel.car %>
        <% images_url = [@travel.car.filepicker1_url, @travel.car.filepicker2_url, @travel.car.filepicker3_url].select { |url| !url.nil? && !url.empty? } %>
        <div class="well" style="text-align: center">
          <% if !images_url.empty? %>
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">

                  <% images_url.each_with_index do |item, index| %>
                      <li data-target="#myCarousel" data-slide-to="<%= index.to_s %>"
                          class="<%= if index == 0 then
                                       "active"
                                     end %>">

                      </li>
                  <% end %>

                </ol>
                <div class="carousel-inner">
                  <% images_url.each_with_index do |item, index| %>
                      <div class="item <%= if index == 0 then
                                             "active"
                                           end %>">

                        <%= filepicker_image_tag item, height: 525, fit: 'max' %>
                        <div class="carousel-caption">
                          <h4><%= @travel.car.year.to_s + ' - ' + @travel.car.brand + " " + @travel.car.model %></h4>

                          <p><%= @travel.car.desc %></p>
                        </div>
                      </div>
                  <% end %>
                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
          <% else %>
              <i class="icon-camera-retro" style="line-height: 300px; font-size: 120px; color: graytext"></i>
          <% end %>
        </div>

    <% end %>

  </div>

  <div class="span4">

    <div class="well">
      <h3>Louer cette voiture</h3>

      <p>
        <%= @travel.car.year.to_s + ' - ' + @travel.car.brand + " " + @travel.car.model %>
      </p>
      <% if @rent %>
          <p>
            Entre le <%= @rent.startDate %> et le <%= @rent.endDate %>
          </p>

          <p>
            <%= ((@rent.endDate - @rent.startDate)/1.day).round %> jours à {prix}
          </p>

          <p>
            <%= link_to 'Louer cette voiture', new_rent_path(:rent => params[:rent].merge(:travel_id => @travel.id)), :class => "btn btn-primary" %>
          </p>
      <% else %>
          <p>
            Entre le <%= @travel.departure %> et le <%= @travel.arrival %>
          </p>
      <% end %>


    </div>

  </div>


</div>

<h3>Details</h3>

<div class="well">
  <div class="row-fluid">
    <div class="span4">

      <p>
        <b>Aeroport :</b>
        <%= @travel.airPort.name %>
      </p>

      <p>
        <b>Nombre de places assises :</b>
        <%= @travel.car.nbSeats %>
      </p>

      <p>
        <b>Kilométrage :</b>
        <%= @travel.car.km %>
      </p>

      <p>
        <b>Fuel :</b>
        <%= @travel.car.fuel %>
      </p>

    </div>

    <div class="span4">
      <p>
        <b>Fumeur autorisé ? </b>
        <%= @travel.car.isSmoker %>
      </p>

      <p>
        <b>Animaux acceptés ? </b>
        <%= @travel.car.acceptedPets %>
      </p>

      <p>
        <b>GPS ? </b>
        <%= @travel.car.hasGps %>
      </p>

      <p>
        <b>Climatisation ? </b>
        <%= @travel.car.hasAirConditioning %>
      </p>

      <p>
        <b>Musique ? </b>
        <%= @travel.car.hasCarRadio %>
      </p>

      <p>
        <b>Siège(s) enfant(s) ? </b>
        <%= @travel.car.hasChildSeat %>
      </p>

    </div>

    <div class="span4">
      <p>
        <%= @travel.car.desc %>
      </p>

    </div>

  </div>

</div>







