<a type="button" class="btn btn-primary btn-back" href="#" onclick="javascript:window.history.back(-1);return false;">
  <i class="icon-arrow-left"></i><%= t(:back) %>
</a>


<div class="row-fluid">

  <div class="span8">
    <h1><%= [@travel.car.year, @travel.car.brand, @travel.car.model].join(' - ') %>

      <% if @user == current_user %>
          <%= link_to t(:edit), edit_user_travel_path(@user, @travel), :class => "btn btn-edit on-hover" %>
      <% end %>
    </h1>

    <%= render "cars/carroussel", :car => @travel.car %>

  </div>

  <div class="span4">

    <div>
      <h2><%= t(:rent_this_car) %></h2>

      <p>
        <%= t(".we_summarize") %>
      </p>

      <h3><%= t(".where") %></h3>

      <p>
        <%= @travel.airPort.name %>
      </p>


      <% unless @rent.nil? %>

          <h3><%= t(".when") %></h3>
          <p>
            <%= t :interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate) %>
          </p>

          <% if @travel.car.category %>
              <h3><%= t(".how_many") %></h3>

              <p><%= [t(:x_days, :count => number_of_days(@rent)), t(:byDay, :price => number_to_currency(@travel.car.category.price_in_euros))].join(", ") %>
              </p>


              <h2><%= t(:total, :total => number_to_currency(price_for_rent(@rent, :price => @travel.car.category.price))) %> </h2>

              <p>
                <%= link_to t(".yes_i_do"), new_rent_path(:rent => params[:rent].merge(:travel_id => @travel.id)), :class => "btn btn-large on-hover btn-block" %>
              </p>
          <% end %>
      <% else %>
          <p>
            <%= t :interval_datetime, :startDate => l(@travel.departure), :endDate => l(@travel.arrival) %>
          </p>
      <% end %>


    </div>

  </div>


</div>


<h2><%= t(".details") %></h2>

<%= render 'cars/details', :car => @travel.car %>







