<p class="hero"><%= t(".title_facebook") %></p>
<a href="<%= omniauth_authorize_path(:user, :facebook, tc_action: "signup", invitation_code: params["code"]) %>" class="btn btn-facebook btn-large"><i class="icon-facebook"></i> | S'inscrire avec Facebook</a>


<div class="separator">
  <h2>ou</h2>
  <hr/>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "login-form"}) do |f| %>
    <!--sign-up-->
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :first_name, :placeholder => t("helpers.label.driver.first_name") %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :last_name, :placeholder => t("helpers.label.driver.last_name") %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :email, :placeholder => t("helpers.label.user.email") %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.password_field :password, :placeholder => t("helpers.label.user.password") %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.password_field :password_confirmation, :placeholder => t("helpers.label.user.password_confirmation") %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= check_box_tag 'signup-accept-cgu' %> En cochant cette case, j'accepte les <%= link_to "Conditions Générales d'Utilisation", "#", class: "base" %>.
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <!--<button type="submit" class="btn on-hover btn-large btn-block">Je valide et crée mon compte !</button>-->
        <%= f.submit id: "signup-button", :class => "btn on-hover btn-large btn-block", disabled: "disabled" %>
      </div>
    </div>
<% end %>
<!--/sign-up-->