<h1><%= t(".title") %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>

    <div class="row-fluid">
      <div class="span12">
        <h2><%= t(".title_user_informations") %> </h2>
      </div>
    </div>


    <fieldset name="User Information" class="well comment_form">
      <!--<legend><%= t(".informations") %></legend>-->

      <div class="row-fluid">
        <div class="span4">
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :first_name, :placeholder => t("helpers.label.user.first_name") %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :last_name, :placeholder => t("helpers.label.driver.last_name") %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <div class="controls">
              <%= f.email_field :email, :placeholder => t("helpers.label.user.email") %>
            </div>
          </div>
        </div>
      </div>

    </fieldset>

    <div class="row-fluid">
      <div class="span12">
        <h2><%= t(".title_driver_informations") %></h2>
      </div>
    </div>


    <fieldset name="User Information" class="well comment_form">
      <!--<legend><%= t(".informations") %></legend>-->

      <div class="row-fluid">
        <div class="span12">
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :address, :class => "span12", :placeholder => t("devise.registrations.edit.address") %>
            </div>
          </div>
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4">
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :city, :placeholder => t("helpers.label.user.city") %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :zip_code, :placeholder => t("helpers.label.user.zip_code") %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :country, :placeholder => t("helpers.label.user.country") %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <label style="height: 20px"></label>
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :license, :placeholder => t("helpers.label.user.phone") %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <%= f.label :birth_date, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :birth_date, value: system_to_human_date(resource.birth_date), placeholder: "jj/mm/aaaa" %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <%= f.label :license_year, :class => "control-label" %>
            <div class="controls">
              <%= f.select(:license_year, options_for_select(Time.now.year - 40..Time.now.year, :selected => f.object.license_year || Time.now.year - 10)) %>
            </div>
          </div>
        </div>
      </div>

    </fieldset>




    <% if resource.provider.nil? %>

        <div class="row-fluid">
          <div class="span12">
            <h2><%= t(".title_password_informations") %></h2>
          </div>
        </div>


        <fieldset name="User Information" class="well comment_form">
          <!--<legend><%= t(".informations") %></legend>-->

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <div class="controls">
                  <%= f.password_field :password, :placeholder => t("helpers.label.user.new_password") %>
                  <span class="help-block"><%= t(".do_not_fill") %></span>
                </div>
              </div>
            </div>

            <div class="span6">
              <div class="control-group">
                <div class="controls">
                  <%= f.password_field :password_confirmation, :placeholder => t("helpers.label.user.password_confirmation") %>
                </div>
              </div>
            </div>
          </div>

        </fieldset>

    <% end %>


    <div class="row-fluid text-center" style="margin-bottom: 80px;">
      <div class="span12">
        <% if resource.provider.nil? %>
          <!-- Button to trigger modal -->
          <a href="#validate-pswd-modal" role="button" class="btn on-hover btn-large" data-toggle="modal">Je confirme mes modifications</a>
        <% else %>
          <%= f.submit value: "Valider mes modifications", :class => "btn on-hover btn-large" %>
        <% end %>
      </div>
    </div>


    <% if resource.provider.nil? %>
    
      <!-- Modal -->
      <div id="validate-pswd-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
          <h3 id="myModalLabel"><%= t(".title_password_current") %></h3>
        </div>
        <div class="modal-body">
          <p>Chez TravelerCar, votre sécurité est notre priorité.</p>
          <p>Pour valider vos modifications, veuillez introduire votre mot de passe.</p>
          <br/>

          <div id="pswd-is-necessary" class="alert alert-error hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">×</a>
            Votre mot de passe est indispensable pour valider vos changements.
          </div>

          <fieldset name="User Information" class="well comment_form">
            <div class="row-fluid">
              <div class="span6">
                <div class="control-group">
                  <div class="controls">
                    <%= f.password_field :current_password, :placeholder => t("helpers.label.user.current_password") %>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <div class="modal-buttons pull-right">
          <a class="base" data-dismiss="modal" aria-hidden="true" style="margin-right: 20px">Annuler</a>
          <%= f.submit value: "Valider mes modifications", class: "btn on-hover btn-large", id: "user-info-confirm" %>
        </div>
      </div>

      <% content_for :footer do %>
        <script type="text/javascript">
          $(function () {

            $('#edit_user').submit(function(e){
              if($("#user_current_password").val().length < 8) {
                $('#pswd-is-necessary').css('display', 'block');
                e.preventDefault();
              }
            });

          });
        </script>
      <% end %>
      
    <% end %>

<% end %>




<!--
<div class="row-fluid">
  <div class="span12">
    <% # DELETE THE ACCOUNT %>
    <% # link_to t(".delete_account"), registration_path(resource_name), :data => {:confirm => "En êtes-vous sûre ?"}, :method => :delete, :class => "base" %>
  </div>
</div>
-->
