<p>Bonjour <%= @user.name %>,</p>
<p>Félicitations ! Vous êtes désormais membre de la communauté helios.</p>
<p>N'oubliez pas de <%= link_to "compléter les informations de votre profil", edit_user_registration_url %>.</p>
<p>Vous voyagez prochainement ? N'attendez plus pour réserver votre place de parking gratuite, ou louer une voiture :</p>
<br/>
<table id="congratulation-options">
	<tr>
		<td>
			<%= link_to "Je réserve une place de parking pour mon prochain voyage", travels_url, class: "new-travel" %>
		</td>
		<td>
			<%= link_to "Je loue une voiture pour mon prochain voyage", search_url, class: "new-rent" %>
		</td>
	</tr>
</table>
<br/>
<p>Pas encore sûre de ce qu'est helios ? Cette vidéo vous explique tout en 53 secondes.</p>
<br/>
<p>
	<%= link_to "#comment-ca-marche" do %>
		<img src="/assets/helios-youtube.png" width="560" height="auto" />
	<% end %>
</p>
<br/>
<p>À bientôt, sur <%= link_to "helios", root_url %>.</p>
