<%= form_for @rent, :url => {:action => 'search'}, :method => 'get' do |f| %>

    <div class="well well-blue">
      <div class="row-fluid">

        <div class="span4">
          <div class="control-group">
            <%= f.label :airPort, :class => "control-label" %>
            <div class="controls">
              <%= f.collection_select(:airPort_id, AirPort.all, :id, :name) %>
            </div>
          </div>
        </div>


        <div class="span4">

          <div class="control-group">
            <%= f.label :startDate, :class => "control-label" %>
            <div class="controls">
              <div class="input-append date" id="rent_startDate_datepicker">
                <%= f.text_field :startDate_date, 'data-format' => "yyyy-MM-dd", :class => "input-small" %>
                <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
              <div class="input-append" id="rent_startDate_timepicker">
                <%= f.text_field :startDate_time, 'data-format' => "HH:mm", :class => "input-small" %>
                <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>

        </div>


        <div class="span4">

          <div class="control-group">
            <%= f.label :endDate, :class => "control-label" %>
            <div class=" controls">
              <div class="input-append date" id="rent_endDate_datepicker">
                <%= f.text_field :endDate_date, 'data-format' => "yyyy-MM-dd", :class => "input-small" %>
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
              <div class="input-append" id="rent_endDate_timepicker">
                <%= f.text_field :endDate_time, 'data-format' => "HH:mm", :class => "input-small" %>
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="row-fluid">
        <div class="span12 text-center">
          <a class="btn btn-large btn-block" name="commit" onclick="$('#new_rent').submit(); return false;">
            <div class="nav-hover"></div>
            <p style="margin-bottom: 0"><%= t('.find') %></p>
          </a>
        </div>
      </div>

    </div>

<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag 'bootstrap-datetimepicker' %>
    <script type="text/javascript">
        $(function () {

            $('#rent_startDate_timepicker').datetimepicker({
                language: 'pt-BR',
                pickDate: false,
                pickSeconds: false

            });

            $('#rent_startDate_datepicker').datetimepicker({
                language: 'pt-BR',
                pickTime: false

            });

            $('#rent_endDate_timepicker').datetimepicker({
                language: 'pt-BR',
                pickDate: false,
                pickSeconds: false

            });

            $('#rent_endDate_datepicker').datetimepicker({
                language: 'pt-BR',
                pickTime: false

            });

        });

    </script>
<% end %>