<%= javascript_include_tag 'bootstrap-datetimepicker' %>
<%= stylesheet_link_tag 'bootstrap-datetimepicker.min' %>


 <%=   form_for @rent, :url => {:action => 'search'}, :method => 'get'   do |f| %>

    <div class="well">
      <div class="row-fluid">

        <div class="span4">
          <div class="control-group">
            <%= f.label :airPort, :class => "control-label" %>
            <div class="controls">
              <%= f.collection_select(:airPort_id, AirPort.all, :id, :name) %>
            </div>
          </div>
        </div>


        <div class="span4">

          <div class="control-group">
            <%= f.label :startDate, :class => "control-label" %>
            <div class="controls input-append date" id="rent_startDate_datetimepicker">
              <%= f.text_field :startDate, 'data-format' => "yyyy-MM-dd HH:mm:ss" %>
              <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>
              <span class="help-block">Date et heure de départ</span>
            </div>
          </div>
        </div>

        <div class="span4">
          <div id="travel_arrival" class="control-group">
            <%= f.label :endDate, :class => "control-label" %>
            <div class="controls input-append date" id="rent_endDate_datetimepicker">
              <%= f.text_field :endDate, 'data-format' => "yyyy-MM-dd HH:mm:ss" %>
              <span class="add-on">
                   <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              <span class="help-block">Date et heure d'arrivée</span>
            </div>
          </div>
        </div>

      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="form-actions">
            <%= f.submit 'Trouver', :class => "btn btn-primary" %>
          </div>
        </div>
      </div>

    </div>

<% end %>

<script type="text/javascript">
    $(function () {

        $('#rent_startDate_datetimepicker').datetimepicker({
            language: 'pt-BR'
        });

        $('#rent_endDate_datetimepicker').datetimepicker({
            language: 'pt-BR'
        });
    });

</script>