<%= filepicker_js_include_tag %>


<div class="row-fluid">
  <%= render 'form' %>
</div>

<div class="row-fluid">
  <div class="span12">
    <% if @travels.empty? %>
        <h3><%= t(".no_results")%></h3>
    <% else %>
        <h3><%= t(".results", :airPort => @rent.airPort.name, :startDate => @rent.startDate, :endDate => @rent.endDate) %></h3>
    <% end %>
  </div>
</div>

<% @travels.each do |travel| %>

    <div class="well">
      <div class="row-fluid">


        <div class="span3">
          <% if travel.car %>
              <% if travel.car.filepicker1_url %>
                  <%= filepicker_image_tag travel.car.filepicker1_url, width: 100, height: 100, fit: 'clip', class: 'pull-left' %>
              <% end %>
          <% end %>
        </div>

        <div class="span6">

          <% if travel.car %>
              <p> <%= travel.car.try { |car| car.year.to_s + ' -  '+ car.brand+ ' ' + car.model } %> </p>

              <p> <%= travel.car.category ? travel.car.category.name + ' , ' : '' %> <%= travel.car.nbSeats %> <%= t(:helpers.label.car.nbSeats) %></p>

              <p> <%= travel.car.desc %></p>
          <% end %>

        </div>

        <div class="span3">
          <% if travel.car.category %>

              <%= t(:interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate)) %>
              <% nbjours = ((@rent.endDate - @rent.startDate)/1.day).round %>

                <%= distance_of_time_in_words(@rent.endDate, @rent.startDate) %>
                <%= number_to_currency(travel.car.category.price) %> <%= t(:byDay) %>
                <%= t(:total) %> <%= number_to_currency(travel.car.category.price*nbjours) %>

              <%= link_to t('.rent'), user_travel_url(travel.user, travel, :rent => params[:rent]), :class => "btn btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>


<% end %>



