
<div class="row-fluid">

  <div class="span12">
    <h2><%= t(".title") %></h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => "form-horizontal well"}) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password, :autofocus => true, :placeholder => t("helpers.label.user.password") %>
          </div>

        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>

        </div>

        <div class="form-actions">
          <%= f.submit t(".change_password"), :class => "btn btn-primary" %>
        </div>


    <% end %>

  </div>
</div>

<%= render "devise/shared/links" %>

