<%= javascript_include_tag 'bootstrap-datetimepicker' %>
<%= stylesheet_link_tag 'bootstrap-datetimepicker.min' %>

<%= form_for [@user, @rent] do |rent| %>

    <div class="well">
      <div class="row-fluid">
        <div class="span4">A <%= @rent.airPort.name %></div>
        <div class="span4"> <%= t(:interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate)) %></div>
        <% nbjours = ((@rent.endDate - @rent.startDate)/1.day).round %>
        <div class="span4">
          <%= distance_of_time_in_words(@rent.endDate, @rent.startDate) %>
          <%= number_to_currency(@rent.travel.car.category.price) %> <%= t(:byDay) %>
          <%= t(:total) %> <%= number_to_currency(@rent.travel.car.category.price*nbjours) %>
        </div>

      </div>

    </div>


    <%= hidden_field(:rent, :airPort_id) %>
    <%= hidden_field(:rent, :startDate) %>
    <%= hidden_field(:rent, :endDate) %>
    <%= hidden_field(:rent, :travel_id) %>


    <%= rent.fields_for :driver do |driver_fields| %>
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group">
              <%= driver_fields.label :license, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :license %>
              </div>
            </div>
          </div>

          <div class="span6">
          </div>

        </div>


        <div class="row-fluid">
          <div class="span6">


            <div class="control-group">
              <%= driver_fields.label :first_name, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :first_name %>
              </div>
            </div>

            <div class="control-group">
              <%= driver_fields.label :last_name, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :last_name %>
              </div>
            </div>

            <div class="control-group">
              <%= driver_fields.label :phone, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :phone %>
              </div>
            </div>


            <div class="control-group">
              <%= driver_fields.label :birth_date, :class => "control-label" %>
              <div class="controls input-append date" id="driver_birthdate_datetimepicker">
                <%= driver_fields.text_field :birth_date, 'data-format' => "yyyy-MM-dd" %>
                <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>

              </div>
            </div>
          </div>


          <div class="span6">
            <div class="control-group">
              <%= driver_fields.label :address, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :address %>
              </div>
            </div>

            <div class="control-group">
              <%= driver_fields.label :city, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :city %>
              </div>
            </div>


            <div class="control-group">
              <%= driver_fields.label :zip_code, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :zip_code %>
              </div>
            </div>

            <div class="control-group">
              <%= driver_fields.label :country, :class => "control-label" %>
              <div class="controls">
                <%= driver_fields.text_field :country %>
              </div>
            </div>

          </div>
        </div>
    <% end %>

    <div class="row-fluid">
      <div class="span12">
        <p><%= t(".conditions") %></p>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span12">
        <div class="form-actions">
          <%= rent.submit :class => "btn btn-primary" %>
        </div>
      </div>
    </div>

<% end %>


<script type="text/javascript">
    $(function () {

        $('#driver_birthdate_datetimepicker').datetimepicker({
            language: 'pt-BR',
            pickTime: false
        });

    });

</script>