<h2>Gérer mes locations de voitures</h2>

<% @rents.each do |rent| %>

    <div class="well">
      <div class="row-fluid">

        <div class="span6">
          <p>  <%= link_to rent.airPort.name + ' - ' + rent.startDate.to_s + ' -> ' + rent.endDate.to_s, [@user, rent] %></p>

          <% if @user == current_user %>
              <%= link_to 'Annuler cette location', [@user, rent], method: :delete, data: {confirm: 'Are you sure?'} %>
              |
              <%= link_to 'Modifier cette location', edit_user_rent_path(@user, rent) %>
          <% end %>
        </div>

        <div class="span6">
          <div class="row-fluid">
            <% if rent.travel.car %>
                <div class="span4">
                  <% if rent.travel.car.filepicker1_url %>
                      <%= filepicker_image_tag rent.travel.car.filepicker1_url, width: 100, height: 100, fit: 'clip', class: 'pull-left' %>
                  <% end %>
                </div>

                <div class="span8">
                  <p> <%= rent.travel.car.try { |car| car.brand + ' ' + car.model } %> </p>
                </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>


<% end %>

<br/>


<%= link_to 'Nouvelle location', new_user_rent_path(@user) %>

