<h2><%= t(".title", :airPort => @rent.airPort.name, :startDate => @rent.startDate, :endDate => @rent.endDate) %></h2>


<% if can? :update, @rent %>
    <%= link_to t("edit"), edit_user_rent_path(@user, @rent) %> |
    <%= link_to t("back"), user_rents_path(@user) %>
<% end %>


<div class="row-fluid">

  <div class="span8">
    <%= render "cars/carroussel", :car => @rent.travel.car %>
  </div>

  <div class="span4">

    <div class="well">
      <h3><%= t ".rent_informations" %></h3>

      <p>
        <%= [@rent.travel.car.year, @rent.travel.car.brand, @rent.travel.car.model].join(', ') %>
      </p>

      <p>
        <%= t(:interval_datetime, :startDate => @rent.startDate, :endDate => @rent.endDate) %>
      </p>

      <p>
        <%= distance_of_time_in_words(@rent.endDate, @rent.startDate) %>
        <%= number_to_currency(@rent.travel.car.category.price) %> <%= t(:byDay) %>
      </p>

      <p>
        <%= t(:total) %> <%= compute_price_for_rent(@rent.startDate, @rent.endDate, @rent.travel.car.category.price) %>
      </p>


    </div>

    <div class="well">
      <h3><%= t :driver, :scope => [:helpers, :label, :car] %></h3>

      <address>
        <strong><%= @rent.driver.first_name %> <%= @rent.driver.last_name %></strong><br>
        <%= @rent.driver.address %>
        <br>
        <%= @rent.driver.city %>, <%= @rent.driver.zip_code %>
        <br>
        <%= @rent.driver.country %>
        <br>
        <abbr title="Phone"><%= t :phone, :scope => [:helpers, :label, :driver] %></abbr> <%= @rent.driver.phone %>
      </address>


      <p>
        <%= t :license, :scope => [:helpers, :label, :driver] %>
        <%- @rent.driver.license %> </br>
        <%= t :birth_date, :scope => [:helpers, :label, :driver] %>
        <%- @rent.driver.birth_date %> </br>
      </p>


    </div>

  </div>


</div>




<%= render "cars/details", :car => @rent.travel.car %>



