<a type="button" class="btn btn-primary btn-back" href="#" onclick="javascript:window.history.back(-1);return false;">
  <i class="icon-arrow-left"></i><%= t(:back) %>
</a>



<div class="row-fluid">

  <div class="span8">
    <h1><%= t(".title", :airPort => @rent.airPort.name, :startDate => @rent.startDate, :endDate => @rent.endDate) %>
      <% if @user == current_user %>
          <%= link_to t("edit"), edit_user_rent_path(@user, @rent), :class => "btn btn-edit on-hover" %>
      <% end %>
    </h1>

    <%= render "cars/carroussel", :car => @rent.travel.car %>
  </div>

  <div class="span4">
    <br/><br/><br/><br/><br/>
    <div class="well">
      <h3><%= t ".rent_informations" %></h3>

      <% if @rent.travel.car.category %>

          <p><%= t(:interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate)) %>

          <h4><%= t(:x_days, :count => number_of_days(@rent)) %>
            <%= t(:byDay, :price => number_to_currency(@rent.travel.car.category.price_in_euros)) %></h4>

          <% if @user == current_user %>
              <span class="label <%= @rent.status || :unpaid %> pull-right"><%= t( "helpers.label.rent.payment.status."+ (@rent.status || :unpaid).to_s )  %></span>
          <% end %>

          <h3><%= t(:total, :total => number_to_currency(price_for_rent(@rent, :price => @rent.travel.car.category.price))) %></h3>

          </p>

      <% end %>


    </div>

    <div class="well">
      <h3><%= t :driver, :scope => [:helpers, :label, :car] %></h3>

      <address>
        <strong><%= @rent.driver.first_name %> <%= @rent.driver.last_name %></strong><br>
        <%= @rent.driver.address %>
        <br>
        <%= @rent.driver.city %>, <%= @rent.driver.zip_code %>
        <br>
        <%= @rent.driver.country %>
        <br>
        <abbr title="Phone"><%= t :phone, :scope => [:helpers, :label, :driver] %></abbr> <%= @rent.driver.phone %>
      </address>


      <p>
        <%= t :license, :scope => [:helpers, :label, :driver] %>:
        <%= @rent.driver.license %> </br>
        <%= t :license_year, :scope => [:helpers, :label, :driver] %>:
        <%= @rent.driver.license_year %> </br>
        <%= t :birth_date, :scope => [:helpers, :label, :driver] %>:
        <%= @rent.driver.birth_date %> </br>
      </p>


    </div>

  </div>


</div>

<h3><%= t(".details") %></h3>


<%= render "cars/details", :car => @rent.travel.car %>



