<div class="row">
  <div class="span6">
    <div class="well">
      <h2><%= t('.register_travel') %></h2>

      <p><%= t('.register_travel_msg') %></p>

      <p>
        <%= link_to t(".register_travel"), {:controller => :travels}, :class => "btn btn-primary btn-large" %>
      </p>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h2><%= t(".rent_car") %></h2>

      <p><%= t(".rent_car_msg") %></p>

      <p>
        <%= link_to t(".rent_car"), {:controller => :search}, :class => "btn btn-primary btn-large" %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2><%= t(".how_its_work") %></h2>

    <p><%= t(".how_its_work_msg") %>
    </p>
  </div>
</div>


