<p><%= @parking.name %> vient de demander et payer une place de parking. Voici le détail :</p>
<ul>
	<li>Aéroport : <%= @parking.airport %></li>
	<li>Date/Heure de dépôt du véhicule : <%= @parking.dropoff %></li>
	<li>Date/Heure de reprise du véhicule : <%= @parking.pickup %></li>
	<li>Nombre de jours : <%= @parking.get_nb_days %> jours</li>
	<li>Prix du parking : <%= @parking.price %> €</li>
	<li>Nombre de personnes attendues : <%= @parking.nb_people %></li>
	<li>Nom/prénom du demandeur : <%= @parking.name %></li>
	<li>Adresse mail : <%= @parking.email %></li>
	<li>Numéro de tel. : <%= @parking.phone %></li>
	<li>Marque du véhicule : <%= @parking.brand %></li>
	<li>Modèle du véhicule : <%= @parking.model %></li>
	<li>Année de premiére mise en circulation : <%= @parking.year %></li>
	<li>Commentaire : <%= @parking.comment %></li>
</ul>
<p>Le paiement de <%= @parking.price %> € sur PayPal a correctement été effectué.</p>
<p>Le client attend par e-mail plus d'informations sur son parking. Ne pas oublier d'avertir l'hôtel.</p>

<br/>
<p>Bonne continuation</p>