<div class="row-fluid login">

  <div class="span12">
    <h1><%= t(".title") %></h1>


    <div class="login-wrapper"><!--login-->

      <p class="hero"><%= t(".title_facebook") %></p>
      <a href="<%= omniauth_authorize_path(resource_name, "facebook") %>" class="btn btn-facebook btn-large"><i class="icon-facebook"></i> | Se Connecter avec Facebook</a>


      <div class="separator">
        <h2>ou</h2>
        <hr/>
      </div>


      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "login-form"}) do |f| %>
          <div class="control-group">
            <div class="controls">
              <%= f.email_field :email, :autofocus => true, :placeholder => t("helpers.label.user.email") %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password, :placeholder => t("helpers.label.user.password") %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <!--label class="checkbox">
                <input type="checkbox"> Se souvenir de moi
              </label-->
              <%= f.submit t(:login), :class => "btn on-hover btn-large btn-block" %>
            </div>
          </div>
      <% end %>

      <hr/>

      <p class="hero"><%= t(".title_create_account") %></p>

      <form action="<%= new_user_registration_path %>" method="GET" class="login-form">
        <%= text_field_tag :code, nil, placeholder: "Code invitation" %>
        <%= submit_tag "M'inscrire", class: "btn on-hover btn-large btn-block" %>
      </form>

    </div>
  </div>
</div>

<%= render "devise/shared/links" %>


