<div class="row-fluid">

  <div class="span8">
    <h1><%= [@rent.travel.car.year, @rent.travel.car.brand, @rent.travel.car.model].join(' - ') %>
    </h1>

    <%= render "cars/carroussel", :car => @rent.travel.car %>

  </div>

  <div class="span4">


    <h2><%= t(".pay_this_car") %></h2>

    <p>
      <%= t(".we_summarize") %>
    </p>

    <h3><%= t(".where") %></h3>

    <p>
      <%= @rent.travel.airPort.name %>
    </p>


    <h3><%= t(".when") %></h3>

    <p>
      <%= t :interval_datetime, :startDate => l(@rent.startDate), :endDate => l(@rent.endDate) %>
    </p>


    <h3><%= t(".how_many") %></h3>

    <p><%= [t(:x_days, :count => number_of_days(@rent)), t(:byDay, :price => number_to_currency(@rent.travel.car.category.price_in_euros))].join(", ") %>
    </p>


    <h2><%= t(:total, :total => number_to_currency(price_for_rent(@rent))) %> </h2>


    <%= form_for [current_user, @rent, @payment], url: user_rent_payment_path do |f| %>
        <%= f.submit :class => "btn btn-large on-hover btn-block" %>
    <% end %>


  </div>


</div>


<h2><%= t(".details") %></h2>

<%= render 'cars/details', :car => @rent.travel.car %>







