<p>Bonjour <%= @parking.name %>,</p>
<br/>

<p>Nous vous remercions pour votre intérêt pour TravelerCar. Votre demande de parking du <%= @parking.dropoff %> au <%= @parking.pickup %>, soit une période de <%= @parking.get_nb_days %> jours, a été validée suite au paiement sur Paypal de <%= @parking.price %> euros.</p>
<p>Notre service client va revenir vers vous au plus vite par email pour vous fournir l'adresse du parking et les détails concernant le jour de votre départ.</p>

<br/>
<p>Bien cordialement,</p>
<p>L'équipe TravelerCar</p>


<!-- Google Code for parking payant Conversion Page --> <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 974833807;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "C_wCCLm4_gcQj5Hr0AM"; var google_conversion_value = 0; var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript"  
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""  
src="//www.googleadservices.com/pagead/conversion/974833807/?value=0&amp;label=C_wCCLm4_gcQj5Hr0AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>