
<div class="well">
  <div class="row-fluid">
    <div class="span4">

      <p>
        <b><%= t(:nbSeats, :scope => [:helpers, :label, :car]) %>:</b>
        <%= car.nbSeats %>
      </p>

      <p>
        <b><%= t(:km, :scope => [:helpers, :label, :car]) %>:</b>
        <%= km_to_human(car.km) %>
      </p>

      <p>
        <b><%= t(:fuel, :scope => [:helpers, :label, :car]) %>:</b>
        <%= t(car.fuel, :scope => [:helpers, :label, :car])  %>
      </p>

      <p>
        <b><%= t(:transmission, :scope => [:helpers, :label, :car]) %>:</b>
        <%= t(car.transmission || :manual , :scope => [:helpers, :label, :car])  %>
      </p>

    </div>

    <div class="span4">
      <p>
        <b><%= t(".isSmoker") %></b>
        <%= t(car.isSmoker.to_s) %>
      </p>

      <p>
        <b><%= t(".acceptedPets") %></b>
        <%= t(car.acceptedPets.to_s) %>
      </p>

      <p>
        <b><%= t(".hasGps") %></b>
        <%= t(car.hasGps.to_s) %>
      </p>

      <p>
        <b><%= t(".hasAirConditioning") %></b>
        <%= t(car.hasAirConditioning.to_s) %>
      </p>

      <p>
        <b><%= t(".hasCarRadio") %></b>
        <%= t(car.hasCarRadio.to_s) %>
      </p>

      <p>
        <b><%= t(".hasChildSeat") %></b>
        <%= t(car.hasChildSeat.to_s) %>
      </p>

    </div>

    <div class="span4">
      <p>
        <%= car.desc %>
      </p>

    </div>

  </div>

</div>