<%= form_for @travel, :url => {:action => 'create'} do |f| %>
    <div class="well well-blue">
      <div class="row-fluid">


        <div class="span4">
          <div class="control-group">
            <%= f.label :airPort, :class => "control-label" %>
            <div class="controls">
              <%= f.collection_select(:airPort_id, AirPort.all, :id, :name) %>
            </div>
          </div>
        </div>


        <div class="span4">

          <div class="control-group">
            <%= f.label :departure, :class => "control-label" %>
            <div class="controls">
              <div class="input-append date" id="travel_departure_datepicker">
                <%= f.text_field :departure_date, 'data-format' => "yyyy-MM-dd", :class => "input-small" %>
                <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
              <div class="input-append" id="travel_departure_timepicker">
                <%= f.text_field :departure_time, 'data-format' => "HH:mm", :class => "input-small" %>
                <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>

        </div>

        <div class="span4">

          <div class="control-group">
            <%= f.label :arrival, :class => "control-label" %>
            <div class="controls">
              <div class="input-append date" id="travel_arrival_datepicker">
                <%= f.text_field :arrival_date, 'data-format' => "yyyy-MM-dd", :class => "input-small" %>
                <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
              <div class="input-append" id="travel_arrival_timepicker">
                <%= f.text_field :arrival_time, 'data-format' => "HH:mm", :class => "input-small" %>
                <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="row-fluid text-center" style="margin-bottom: 80px;">
      <%= f.submit :class => "btn on-hover btn-large" %>
    </div>


<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag 'bootstrap-datetimepicker' %>
    <%= filepicker_js_include_tag %>

    <script type="text/javascript">
        $(function () {

            $('#travel_departure_timepicker').datetimepicker({
                language: 'pt-BR',
                pickDate: false,
                pickSeconds: false

            });

            $('#travel_departure_datepicker').datetimepicker({
                language: 'pt-BR',
                pickTime: false

            });

            $('#travel_arrival_timepicker').datetimepicker({
                language: 'pt-BR',
                pickDate: false,
                pickSeconds: false

            });

            $('#travel_arrival_datepicker').datetimepicker({
                language: 'pt-BR',
                pickTime: false

            });


            //Put your Filepicker.io API key here:
            filepicker.setKey('A68xA26uYSfO6TDJM0Qp3z');

            $('a[data-filepicker]').click(function (e) {
                var $current = $(this);
                e.preventDefault(); // This keeps the normal link
                // behavior from happening
                filepicker.pickAndStore({}, {location: 's3'},
                        function (fpfiles) {
                            if (fpfiles.length > 0) {
                                //check if one file
                                //save into input
                                var target = $current.data('target-input');
                                $('#' + target).val(fpfiles[0].url);
                                //insert thumbnail of this file
                                $current.html('<img src=\"' + fpfiles[0].url + '\" class=\"img-rounded\">');
                            }
                        });
            });


        });


    </script>
<% end %>



