<%= javascript_include_tag 'bootstrap-datetimepicker' %>
<%= stylesheet_link_tag 'bootstrap-datetimepicker.min' %>

<%= filepicker_js_include_tag %>

<%= form_for [:admin, @travel] do |f| %>

    <div class="well">
    <div class="row-fluid">


      <div class="span4">
        <div class="control-group">
          <%= f.label :airPort, :class => "control-label" %>
          <div class="controls">
            <%= f.collection_select(:airPort_id, AirPort.all, :id, :name) %>
          </div>
        </div>
      </div>


      <div class="span4">

        <div class="control-group">
          <%= f.label :departure, :class => "control-label" %>
          <div class="controls">
            <div class="input-append date" id="travel_departure_datepicker">
              <%= f.text_field :departure_date, 'data-format' => "yyyy-MM-dd", :class => "input-small" %>
              <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
            <div class="input-append" id="travel_departure_timepicker">
              <%= f.text_field :departure_time, 'data-format' => "HH:mm", :class => "input-small" %>
              <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
          </div>
        </div>

      </div>

      <div class="span4">

        <div class="control-group">
          <%= f.label :arrival, :class => "control-label" %>
          <div class="controls">
            <div class="input-append date" id="travel_arrival_datepicker">
              <%= f.text_field :arrival_date, 'data-format' => "yyyy-MM-dd", :class => "input-small" %>
              <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
            <div class="input-append" id="travel_arrival_timepicker">
              <%= f.text_field :arrival_time, 'data-format' => "HH:mm", :class => "input-small" %>
              <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%= f.fields_for :car do |car_fields| %>
        <div class="row-fluid">
          <div class="span4">
            <fieldset name="Car Information" class="well">
              <legend>La voiture</legend>
              <div class="control-group">
                <%= car_fields.label :brand, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.text_field :brand %>

                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :model, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.text_field :model %>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :year, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.select(:year, options_for_select(Time.now.year - 30..Time.now.year, :selected => car_fields.object.year)) %>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :nbSeats, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.select(:nbSeats, options_for_select(2..9, :selected => car_fields.object.nbSeats)) %>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :km, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.select(:km, options_for_select([['0-50000 km', 0], ['50000-100000 km', 50000], ['100000-150000 km', 100000], ['150000 km et plus', 150000]], car_fields.object.km)) %>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :fuel, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.radio_button(:fuel, 'Essence') %>
                  <%= label_tag(:fuel_essence, "Essence") %>
                  <%= car_fields.radio_button(:fuel, 'Diesel') %>
                  <%= label_tag(:fuel_diesel, "Diesel") %>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :license, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.text_field :license %>
                </div>
              </div>


              <div class="control-group">
                <%= car_fields.label :category, :class => "control-label" %>
                <div class="controls">
                  <%= car_fields.collection_select(:category_id, Category.all, :id, :name, :prompt => "-- Choisis une catégorie") %>
                </div>
              </div>


            </fieldset>
          </div>

          <div class="span4">

            <fieldset class="well">
              <legend>Informations complementaires</legend>
              <div class="control-group">
                <label class="control-label">Vous êtes fumeur ? Vous devez cliquer oui, si vous avez l'habitude
                  de fumer dans votre voiture
                </label>

                <div class="controls">
                  <label class="checkbox">
                    <%= car_fields.check_box(:isSmoker) %> Oui
                  </label>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Vous transportez des animaux ? Vous devez cliquer oui, si vous transportez
                  regulierement vos animaux de compagnie
                </label>

                <div class="controls">
                  <label class="checkbox">
                    <%= car_fields.check_box(:acceptedPets) %> Oui
                  </label>
                </div>
              </div>

              <label>Au niveau equipement, votre voiture dispose t elle de :</label>

              <div class="control-group">
                <%= car_fields.label :hasGps, :class => "control-label" %>

                <div class="controls">
                  <label class="checkbox">
                    <%= car_fields.check_box(:hasGps) %> Oui
                  </label>
                </div>
              </div>


              <div class="control-group">
                <%= car_fields.label :hasCarRadio, :class => "control-label" %>

                <div class="controls">
                  <label class="checkbox">
                    <%= car_fields.check_box(:hasCarRadio) %> Oui
                  </label>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :hasAirConditioning, :class => "control-label" %>

                <div class="controls">
                  <label class="checkbox">
                    <%= car_fields.check_box(:hasAirConditioning) %> Oui
                  </label>
                </div>
              </div>

              <div class="control-group">
                <%= car_fields.label :hasChildSeat, :class => "control-label" %>

                <div class="controls">
                  <label class="checkbox">
                    <%= car_fields.check_box(:hasChildSeat) %> Oui
                  </label>
                </div>
              </div>

            </fieldset>

          </div>

          <div class="span4">
            <!--Photos-->
            <fieldset class="well">

              <div class="well">
                <a data-filepicker="addPhoto" data-target-input="travel_car_attributes_filepicker1_url">
                  <% if @travel.car.filepicker1_url? %>
                      <%= filepicker_image_tag @travel.car.filepicker1_url, weight: 50, height: 50, fit: 'clip' %>
                  <% else %>
                      <i class="icon-camera-retro icon-3x   icon-border"></i> Ajouter une photo
                  <% end %>
                </a>
                <%= car_fields.text_field :filepicker1_url, :style => "display: none" %>
              </div>

              <div class="well">
                <a data-filepicker="addPhoto" data-target-input="travel_car_attributes_filepicker2_url">
                  <% if @travel.car.filepicker2_url? %>
                      <%= filepicker_image_tag @travel.car.filepicker2_url, weight: 50, height: 50, fit: 'crop' %>
                  <% else %>
                      <i class="icon-camera-retro icon-3x   icon-border"></i> Ajouter une deuxième photo
                  <% end %>
                </a>
                <%= car_fields.text_field :filepicker2_url, :style => "display: none" %>
              </div>

              <div class="well">
                <a data-filepicker="addPhoto" data-target-input="travel_car_attributes_filepicker3_url" data-target-img>
                  <% if @travel.car.filepicker3_url? %>
                      <%= filepicker_image_tag @travel.car.filepicker3_url, weight: 50, height: 50, fit: 'clip' %>
                  <% else %>
                      <i class="icon-camera-retro icon-3x   icon-border"></i> Ajouter une troisième photo
                  <% end %>
                </a>

                <%= car_fields.text_field :filepicker3_url, :style => "display: none" %>
              </div>


            </fieldset>


          </div>

        </div>

        <div class="well">
          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <%= car_fields.label :desc, :for => "control-label" %>
                <div class="controls">
                  <%= car_fields.text_area :desc, :class => "span12", :rows => 5 %>
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row-fluid">
          <div class="span12">
            <div class="control-group">
              <%= f.label :status, :class => "control-label" %>
              <div class="controls">
                <%= f.collection_select(:status, Travel::STATUS, :first, :first) %>
              </div>
            </div>
          </div>
        </div>


        <div class="row-fluid">
          <div class="span12">
            <div class="form-actions">
              <%= f.submit 'Enregistrer', :class => "btn btn-primary" %>
            </div>
          </div>
        </div>


    <% end %>


<% end %>


<script type="text/javascript">
    $(function () {

        $('#travel_departure_datetimepicker').datetimepicker({
            language: 'pt-BR'
        });

        $('#travel_arrival_datetimepicker').datetimepicker({
            language: 'pt-BR'
        });


        //Put your Filepicker.io API key here:
        filepicker.setKey('A68xA26uYSfO6TDJM0Qp3z');

        $('a[data-filepicker]').click(function (e) {
            var $current = $(this);
            e.preventDefault(); // This keeps the normal link
            // behavior from happening
            filepicker.pickAndStore({}, {location: 's3'},
                    function (fpfiles) {
                        if (fpfiles.length > 0) {
                            //check if one file
                            //save into input
                            var target = $current.data('target-input');
                            $('#' + target).val(fpfiles[0].url);
                            //insert thumbnail of this file
                            $current.html('<img src=\"' + fpfiles[0].url + '\" class=\"img-rounded\">');
                        }
                    });
        });


    });


</script>