<div class="alert <%= travel.status %>">
  <div class="row-fluid">

    <div class="span6">
      <p>  <%= link_to travel.airPort.name + ' - ' + travel.departure.to_s + ' -> ' + travel.arrival.to_s,  admin_travel_path(travel) %></p>


      <%= link_to 'Annuler cette réservation',  admin_travel_url(travel), method: :delete, data: {confirm: 'Are you sure?'} %>
      |
      <%= link_to 'Modifier cette réservation', edit_admin_travel_path(travel) %>

    </div>

    <div class="span6">
      <div class="row-fluid">
        <% if travel.car %>
            <div class="span4">
              <% unless travel.car.filepicker1_url.blank? %>
                  <%= filepicker_image_tag travel.car.filepicker1_url, width: 100, height: 100, fit: 'clip', class: 'pull-left' %>
              <% end %>
            </div>

            <div class="span4">
              <p> <%= travel.car.try { |car| car.brand + ' ' + car.model } %> </p>
            </div>

            <div class="span4">
              <p> <%= t("helpers.label.travel.status") %> : <%= travel.status %> </p>
              <p> <%= t("helpers.label.car.category") %> : <%= travel.car.category ? travel.car.category.name : "none" %> </p>
            </div>

        <% end %>
      </div>
    </div>

  </div>
</div>