<h1>Gérer les réservations de parking</h1>

<% @travels.each do |travel| %>

    <div class="well">
      <div class="row-fluid">

        <div class="span6">
          <p>  <%= link_to travel.airPort.name + ' - ' + travel.departure.to_s + ' -> ' + travel.arrival.to_s,  admin_travel_path(travel) %></p>


              <%= link_to 'Annuler cette réservation',  admin_travel_url(travel), method: :delete, data: {confirm: 'Are you sure?'} %>
              |
              <%= link_to 'Modifier cette réservation', edit_admin_travel_path(travel) %>

        </div>

        <div class="span6">
          <div class="row-fluid">
            <% if travel.car %>
                <div class="span4">
                  <% if travel.car.filepicker1_url %>
                      <%= filepicker_image_tag travel.car.filepicker1_url, width: 100, height: 100, fit: 'clip', class: 'pull-left' %>
                  <% end %>
                </div>

                <div class="span8">
                  <p> <%= travel.car.try { |car| car.brand + ' ' + car.model } %> </p>
                </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>


<% end %>

<br/>


    <%= link_to 'New Travel', new_admin_travel_path %>

