<div class="row-fluid">
  <div class="span8">
    <h1>Gérer les réservations de parking</h1>
  </div>
  <div class="span4">
    <%= link_to 'Nouveau parking', new_admin_travel_path %>
  </div>
</div>


<h3><%= t(:pending) %></h3>

<% @travelsPending.each do |travel| %>

    <%= render 'item', :travel => travel %>

<% end %>

<br/>

<h3><%= t(:active) %></h3>

<% @travelsActive.each do |travel| %>

    <%= render 'item', :travel => travel %>

<% end %>

<h3><%= t(:rent) %></h3>

<% @travelsRent.each do |travel| %>

    <%= render 'item', :travel => travel %>

<% end %>



