<div id="footer-social">
  <div class="container">
    <ul class="social-likes" data-url="<%= ENV["HOST"] %>" data-title="Avec TravelerCar, je ne paierai pas le parking à l'aéroport pour mon prochain voyage ! http://travelercar.com ">
      <li class="facebook" title="Share link on Facebook">Facebook</li>
      <li class="twitter" data-via="travelercar" title="Share link on Twitter">Twitter</li>
      <li class="plusone" title="Share link on Google+">Google+</li>
    </ul>
  </div>
</div>
<footer id="footer">
  <div class="container">
    <ul id="menu-footer" class="menu">
      <li class="menu-besoin-daide"><a href="<%= ENV['WP_ROOT'] %>/faqs/"><%= t ".menu.need_help" %></a></li>
      <li class="menu-blog"><a href="<%= ENV['WP_ROOT'] %>/blog/"><%= t ".menu.blog" %></a></li>
      <li class="menu-assurance"><a href="<%= ENV['WP_ROOT'] %>/assurance/"><%= t ".menu.insurance" %></a></li>
      <li class="menu-presse"><a href="<%= ENV['WP_ROOT'] %>/presse/"><%= t ".menu.press" %></a></li>
      <li class="menu-cgu"><a href="<%= ENV['WP_ROOT'] %>/conditions-generales-dutilisation-cgu/"><%= t ".menu.terms" %></a></li>
      <li class="menu-contact"><a href="<%= ENV['WP_ROOT'] %>/#contact"><%= t ".menu.contact" %></a></li>
    </ul>
    <span>&copy; 2013 TravelerCar - <%= t ".rights" %>.</span>
  </div>
  <!--a href="#" id="btn_up">UP</a-->
  <a href="#" id="btn_up"><i class="icon-arrow-up"></i></a>
</footer>
<% content_for :footer do %>
  <%= javascript_include_tag "social-likes.min" %>
<% end %>