<div id="footer-social">
  <div class="container text-center">

    <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/113031006436456237340"></div>

    <a href="https://twitter.com/helios" class="twitter-follow-button" data-show-count="true" data-lang="fr">Follow @helios</a>

    <div class="fb-like" data-href="http://facebook.com/helios" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>

  </div>
</div>
<br/>
<footer id="footer">
  <div class="container">
    <ul id="menu-footer" class="menu">
      <li class="menu-besoin-daide"><a href="<%= ENV['WP_ROOT'] %>/faqs/"><%= t ".menu.need_help" %></a></li>
      <li class="menu-blog"><a href="<%= ENV['WP_ROOT'] %>/blog/"><%= t ".menu.blog" %></a></li>
      <li class="menu-assurance"><a href="<%= ENV['WP_ROOT'] %>/assurance/"><%= t ".menu.insurance" %></a></li>
      <li class="menu-presse"><a href="<%= ENV['WP_ROOT'] %>/presse/"><%= t ".menu.press" %></a></li>
      <li class="menu-cgu"><a href="<%= ENV['WP_ROOT'] %>/conditions-generales-dutilisation-cgu/"><%= t ".menu.terms" %></a></li>
      <li class="menu-contact"><a href="<%= ENV['WP_ROOT'] %>/#contact"><%= t ".menu.contact" %></a></li>
    </ul>
    <span>&copy; 2013 helios - <%= t ".rights" %>.</span>
  </div>
  <!--a href="#" id="btn_up">UP</a-->
  <a href="#" id="btn_up"><i class="icon-arrow-up"></i></a>
</footer>

<div id="fb-root"></div>
<% content_for :footer do %>
  <%= javascript_include_tag "social-likes" %>
<% end %>