<%= link_to "Travelercar", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to 'J\'inscris ma voiture', '/travels' %>
  </li>
  <li>
    <%= link_to 'Je loue une voiture', :controller => 'rent_search', :action => 'index' %>
  </li>
  <li>
    <a>Comment ça marche</a>
  </li>
  <li>
    <a>Besoin d'aide ?</a>
  </li>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Mon compte', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
     <li>
        <%= link_to 'Déconnecter', destroy_user_session_path, :method=>'delete' %>
     </li>
  <% else %>
      <li>
        <%= link_to 'Connecter', new_user_session_path %>
      </li>
    <li>
        <%= link_to 'S\'inscrire', new_user_registration_path %>
    </li>
  <% end %>
</ul>

