<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a href="<%= ENV['WP_ROOT'] %>" class="external brand image">
  <%= image_tag "helios-logo_small_image.png", :alt => "Logo" %>
</a>
<div class="nav-collapse collapse">
  <ul id="menu-primary-navigation" class="nav">
    <li>
      <%= link_to t(:dashboard), dashboards_path %>
    </li>
    <li>
      <%= link_to t(:how_its_work), "#{ENV['WP_ROOT']}/#comment-ca-marche" %>
    </li>
    <li>
      <%= link_to t(:register_travel), travels_path %>
    </li>
    <li>
      <%= link_to t(:rent_car), search_path %>
    </li>
    <% if user_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
            <%= t(:account) %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.has_role? :admin %>
                <li>
                  <%= link_to t(:administration), admin_root_path %>
                </li>
            <% end %>
            <li>
              <%= link_to t(:my_informations), edit_user_registration_path %>
            </li>
            <li>
              <%= link_to t(:my_travels), user_travels_path(current_user) %>
            </li>
            <li>
              <%= link_to t(:my_rents), user_rents_path(current_user) %>
            </li>
            <li>
              <%= link_to t(:logout), destroy_user_session_path, :method => 'delete' %>
            </li>


          </ul>
        </li>
    <% else %>
        <li>
          <%= link_to t(:login), new_user_session_path %>
        </li>
    <% end %>
    <li>
      <%= link_to t(:contact), "#{ENV['WP_ROOT']}/#contact" %>
    </li>
  </ul>

</div>