<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html style="margin-top: 0 !important" class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html style="margin-top: 0 !important" class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html style="margin-top: 0 !important" class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->
<html style="margin-top: 0 !important" lang="en-US"> <!--<![endif]-->

<%= render "layouts/head" %>

<body class="home blog logged-in" data-spy="scroll" data-target=".navbar">


<!-- End header -->
<div id="navbar" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </div>
</div>
<!-- end navbar -->


<div class="container main-content">
  <div class="content">
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>


<%= render 'layouts/footer' %>

<%= javascript_include_tag "footer" %>

<%= yield :footer %>

</body>
</html>